.App {
justify-content: center;
justify-items: center;
margin-top: 5%;
height: 1000px;
width: auto;
}

.btn{
  font-size: 20px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
